[submodule "catkin_ws/src/turtlebot3"]
	path = catkin_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "catkin_ws/src/turtlebot3_msgs"]
	path = catkin_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "catkin_ws/src/turtlebot3_simulations"]
	path = catkin_ws/src/turtlebot3_simulations
	url = git@github.com:NighttimeDriver50000/turtlebot3_simulations.git
[submodule "catkin_ws/src/mckinnc_ekf"]
	path = catkin_ws/src/mckinnc_ekf
	url = git@github.com:NighttimeDriver50000/mckinnc_ekf.git
[submodule "catkin_ws/src/resilient_debug_gui"]
	path = catkin_ws/src/resilient_debug_gui
	url = git@github.com:NighttimeDriver50000/resilient_debug_gui.git
[submodule "catkin_ws/src/zed-ros-wrapper"]
	path = catkin_ws/src/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "catkin_ws/src/waffle-tx2"]
	path = catkin_ws/src/waffle-tx2
	url = git@github.com:NighttimeDriver50000/waffle-tx2.git
