[submodule "catkin_ws/src/turtlebot3"]
	path = catkin_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "catkin_ws/src/turtlebot3_msgs"]
	path = catkin_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "catkin_ws/src/turtlebot3_simulations"]
	path = catkin_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "catkin_ws/src/mckinnc_ekf"]
	path = catkin_ws/src/mckinnc_ekf
	url = git@github.com:NighttimeDriver50000/mckinnc_ekf.git
[submodule "catkin_ws/src/depthimage_to_laserscan"]
	path = catkin_ws/src/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git
	branch = mikaelarguedas-patch-1
[submodule "xiaofeng-slam"]
	path = xiaofeng-slam
	url = maestroctl@tachibanatech.com:xiaofeng-slam.git
[submodule "catkin_ws/src/resilient_debug_gui"]
	path = catkin_ws/src/resilient_debug_gui
	url = git@github.com:NighttimeDriver50000/resilient_debug_gui.git
[submodule "catkin_ws/src/ls_slam"]
	path = catkin_ws/src/ls_slam
	url = git@github.com:NighttimeDriver50000/ls_slam.git
[submodule "xiaofeng-other"]
	path = xiaofeng-other
	url = maestroctl@tachibanatech.com:xiaofeng-other.git
[submodule "submit-ip"]
	path = submit-ip
	url = maestroctl@tachibanatech.com:submit-ip.git
